<div class="card card-primary">
<div class="card-header">
  <h5 class="card-title m-0">Informations</h5>
</div>
<div class="card-body">
  <p class="card-text">Title: <%=@point.title%></p>
  <p class="card-text">Date: <%=@point.schedule%></p>
  <p class="card-text">Peso: <%=@point.weight%></p>
  <a href="/point_edit/<%=@point.id%>" class="btn btn-primary">Edit</a>
  <a href="/point_delete/<%=@point.id%>" class="btn btn-primary">Delete</a>
</div>
</div>
</div>
