<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/chart.js/Chart.min.js"></script>
<script src="../dist/js/demo.js"></script>
<script>
$(function () {
  'use strict'

  var ticksStyle = {
    fontColor: '#495057',
    fontStyle: 'bold'
  }

  var mode      = 'index'
  var intersect = true

  var $visitorsChart = $('#visitors-chart')
  var visitorsChart  = new Chart($visitorsChart, {
    data   : {
      labels  : ['Date Start: <%=@diet.start%>',<% @points.each do |point| %>
        '<%=point.schedule%>',<%end%>'Date Finish: <%=@diet.finish%>'],
      datasets: [{
        type                : 'line',
        data                : ['<%=@diet.weight%>',<% @points.each do |point| %>
        '<%=point.weight%>',<%end%>'<%=@diet.target_weight%>'],
        backgroundColor     : 'transparent',
        borderColor         : '#007bff',
        pointBorderColor    : '#007bff',
        pointBackgroundColor: '#007bff',
        fill                : false
        // pointHoverBackgroundColor: '#007bff',
        // pointHoverBorderColor    : '#007bff'
      }]
    },
    options: {
      maintainAspectRatio: false,
      tooltips           : {
        mode     : mode,
        intersect: intersect
      },
      hover              : {
        mode     : mode,
        intersect: intersect
      },
      legend             : {
        display: false
      },
      scales             : {
        yAxes: [{
          // display: false,
          gridLines: {
            display      : true,
            lineWidth    : '4px',
            color        : 'rgba(0, 0, 0, .2)',
            zeroLineColor: 'transparent'
          },
          ticks    : $.extend({
            beginAtZero : true,
            suggestedMax: 150
          }, ticksStyle)
        }],
        xAxes: [{
          display  : true,
          gridLines: {
            display: false
          },
          ticks    : ticksStyle
        }]
      }
    }
  })
})
</script>

<div class="card card-primary">
    <div class="card-header border-0">
    <div class="d-flex justify-content-between">
      <h3 class="card-title">Evolution of Diet</h3>
    </div>
    </div>
  <div class="card-body">
    <div class="d-flex">
      <p class="d-flex flex-column">
        <span>Weight Over Time</span>
      </p>
      <p class="ml-auto d-flex flex-column text-right">
      <%sum=0%>
      <% @points.each do |point| %>
        <% if point.weight < @diet.weight %>
        <span class="text-success">
          <%percent = point.weight  * 100 %>
          <%result = (percent/@diet.target_weight)-100%>
          <span class="text-muted"><%=point.title%>  you already reached the goal in <%=point.schedule%> whit <%=point.weight%> kg </span><i class="fas fa-arrow-up"></i> <%=100-result.round(0)%> % progress
        </span>
        <%end%>
        <%end%>
        

      </p>
    </div>
    <div class="position-relative mb-4">
      <canvas id="visitors-chart" height="200"></canvas>
    </div>
    <div class="d-flex flex-row justify-content-end">
      <span class="mr-2">
        <i class="fas fa-square text-primary"></i> Time Line
      </span>
    </div>
    <a href="/point_new/<%=@diet.id%>" class="btn btn-primary">Add Point</a>
  </div>
  </div>
  <br>
</div>
</div>


<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">More options</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
      </div>
  </div>
  <div class="card-body">
  <p class="card-text">Description: <%=@diet.description%></p>
  <p class="card-text">Schedule: <%=@diet.schedule%></p>
  <p class="card-text">Period: <%=@diet.period%></p>
  <p class="card-text">currently weighing <%=@diet.height%> cm whit <%=@diet.weight%> kg aiming to reach weight <%=@diet.target_weight%> kg</p>
  <a href="/diet_edit/<%=@diet.id%>" class="btn btn-primary">Edit</a>
  <a href="/diet_delete/<%=@diet.id%>" class="btn btn-primary">Delete</a>
  </div>
</div>



<div class="card card-primary">
<div class="card-header">
  <h3 class="card-title">List Points</h3>

  <div class="card-tools">
    <div class="input-group input-group-sm" style="width: 150px;">
    </div>
  </div>
</div>
<!-- /.card-header -->
<div class="card-body table-responsive p-0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Weight</th>
        <th>Schedule</th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%=point.id%></td>
        <td><%=point.title%></td>
        <td><%=point.schedule%></td>
        <td><%=point.weight%></td>
        <td><a href="/point/<%=point.id%>"><i class="fas fa-eye"></i></a></td>
      <%end%>
    </tbody>
  </table>
  </div>
</div>
</div>